<!-- Content Heading -->
<% if (title) { %>
    <h1> <%= title %> </h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- flash messages if any will be displaced as a result of the following line of code -->
<%- messages() %>

<!-- Code block to handle errors -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Welcome message -->
<ul>
    <li><a href="/account/createMessage">Create a new Message</a></li>
    <li><a href="/account/archive">View archived Messages</a></li>
</ul>

<!-- Table for the inbox of messages  --> <!-- Each Subject should be a link that takes us to a view for reading the message -->
<%- table %>

<a href="/account">Return To Inbox</a>