<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
    <!-- # disables this code. 
    you'll replace with mark (—) -->
<%- messages() %>
<form id="classificationForm" action="/inv/add-classification" method="post">
    <p>All field are required</p>
<fieldset>
    <p>Classification Name</p>
    <label for="classification_name">NAME MUST BE ALPHABETIC CHARACTERS ONLY</label><br>
    <input type="text" id="classificationname" name="classification_name" required pattern="(?=.*[a-z])(?=.*[A-Z]).{3,}$"><br>
   
     <button class="addClassificationBtn"type="submit">Add Classification</button>
</fieldset>
</form>
