<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
    <!-- # disables this code. 
    you'll replace with mark (—) -->
<%# messages() %>
<a href="/inv/addClassification">add new classification</a>
<a href="/inv/addInventory">add new inventory</a>
