<div id="errorpage">
<div class="errormesg">
    <h1>Looks like this page is unavailable</h1>
    <p>Good thing is this meomeo will show you where to go</p>
    <a href="index.ejs"><button class="errorbtn">Click here</button></a>
    </div>
<img class="errorimg" src="/images/site/error.jpg" alt="https://unsplash.com/photos/NodtnCsLdTE?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink"/>
</div>